footer{
    width: 100%;
    height:12rem;
    border: 1px solid;
    display:flex;
    flex-direction: column;
    .footer-top{
        text-align: center;
        line-height: 2rem;
        border: 1px solid;
    }
    .footer-main{
        width: 100%;
        height:7rem;
        text-align: center;
        line-height: 7rem;
        border: 1px solid;
        display: flex;
        flex-direction: row;
        .footer-logo{
            text-align: center;
            line-height: 7rem;
            flex-grow: 2;
            border: 1px solid;
        }
        .footer-con{
            text-align: center;
            line-height: 7rem;
            flex-grow: 8;
            border: 1px solid;
        }
        .footer-me-link{
            text-align: center;
            line-height: 7rem;
            flex-grow: 4;
            border: 1px solid;
            display:flex;
            flex-direction: row;
            div{
                width: 4rem;
                text-align: center;
                line-height: 5rem;
            }
        }
    }
    .footer-bottom{
        height: 100%;
        text-align: center;
        line-height: 3rem;
        border: 1px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .copy-right{
            flex-grow: 5;
        }

        .privacy-role{
            flex-grow: 2;
            display: flex;
            flex-direction: row;
            width: 3rem;
            div{
                margin: 0 8px;
            }
        }
    }
}