.wrapper{
    width: 100vw;
    height:100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction:column;
    max-width: 1440px;
    margin:0 auto;
    background-color: #f7f7fa;

  }
  